@{
    ViewBag.Title = "Общество";
}
<article role="main" class="clearfix">
    <div class="post">
        <h2>Добре дошли на страниците на О<sup>4</sup>ЗИ</h2>
        <p>алал бала</p>
    </div>
    <aside role="complementary">
        <a href="#demo-url"><img src="~/Content/images/community2.png" alt="Да учим заедно"></a>
    </aside>
</article>