@{
    ViewBag.Title = "Общество";
}

@section Banner{
    <header>
        <h1>Добре дошли в О<sup>4</sup>ЗИ</h1>
        <p>Мястото за срещи на приятели и съмишленици</p>
    </header>
    }
<article role="main" class="clearfix">
    <div class="post">
        <h2>Управлявайте своите мрежи от приятели и контакти</h2>
        <p> </p>
        <p></p>
    </div>
</article>
@section Bottom{
     <aside role="contentinfo">
    <p><img src="~/Content/images/social-networks2.png" alt="социалните мрежи" /></p>
</aside>
<article class="post content twitter">
    <h2>Вижте кои следва нашия сайт</h2>

    <div id="twitter-friends">
        <a class="tfw-info" href="http://www.moretechtips.net" target="_blank">Twitter Friends/Followers Widget</a>
    </div>
</article>

<article class="post content facebook">
    <h2>Виж кои твои FB приятели харесват сайта</h2>
    <div class="fb-like" data-href="http://127.0.0.1" data-send="false" data-width="450" data-show-faces="true"></div>
</article>


}
