@{
    ViewBag.Title = "Материали";
}

@section Banner{
   <header>
    <h1>Мястото за разглеждане на различни учебни материали</h1>
    <p>Тук можете да споделяте видео материали, статии, мнения</p>
</header>
    }
<article role="main" class="clearfix">
    <div class="post">
        <h2>Знанието е сила...</h2>
        <p>Тук можете да откриете стотици различни материали на различни теми. Преподавателите могат да споделят своите онлайн лекции и статии, студентите могат да споделят интересна информация, намерена в интернет пространството по даден наболял въпрос. Освен това студентите могат да оценяват предоставените им материали.</p>
        <p></p>
    </div>
</article>

@section Bottom{
       <aside role="complementary">
    <h2>Допълнителна информация</h2>
    <p>Информацията, която споделяте тук ще бъде видяна на вашата страница във вашите социални мрежи.</p>
    <p>Знаете ли, че можете да оценявате материалите, които получавате. Така на края на семестъра или годината преподавателите могат да видят какво да подобрят.</p>
    <p>Вашето мнение е важно за всеки, който ползва системата.</p>
    <p><a href="#">Научете още <span class="icon">:</span></a></p>
</aside>

<article class="post content">
    <ul class="post-list">
        <li>
            <h2><a href="/shared_materials#last_article">Последната споделена статия</a></h2>
            <p class="meta">Април 26 | От: <a href="#">$hekh@r d-Ziner</a></p>
            <a href="#" rel="prettySociable"><img src="images/article.png" alt="Последната споделена статия"></a>
            <p> Ще хванем ли зелената вълна в информационните и комуникационните технологии?</p>
            <p><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" style="text-align:right">Tweet</a></p>
            <div class="fb-like" data-href="http://127.0.0.1:5000/shared_materials" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
            <p><a href="/shared_materials#articles" class="more-link">Вижте още <span class="icon">:</span></a></p>
        </li>
        <li>
            <h2><a href="/shared_materials#last_video">Последното споделено видео</a></h2>
            <p class="meta">Април 23 | От: <a href="#">$hekh@r d-Ziner</a></p>
            <a href="#" rel="prettySociable"><img src="images/video.png" alt="Последното споделено видео"></a>
            <p>	Видео материал за старт-ъп компаниите в България и имат ли бъдеще у нас</p>
            <p><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" style="text-align:right">Tweet</a></p>
            <div class="fb-like" data-href="http://127.0.0.1:5000/shared_materials" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
            <p><a href="/shared_materials#videos" class="more-link">Вижте още <span class="icon">:</span></a></p>
        </li>
        <li>
            <h2><a href="/shared_materials#last_image">Последното споделено изображение</a></h2>
            <p class="meta">Април 21 | От: <a href="#">$hekh@r d-Ziner</a></p>
            <a href="#" rel="prettySociable"><img src="images/image.png" alt="Последното споделено изображение"></a>
            <p> Схема за разработване на нов бизнес процес в сферата на масовата комуникация.</p>
            <p><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" style="text-align:right">Tweet</a></p>
            <div class="fb-like" data-href="http://127.0.0.1:5000/shared_materials" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
            <p><a href="/shared_materials#images" class="more-link">Вижте още <span class="icon">:</span></a></p>
        </li>
    </ul>
</article>
}
